html{
	font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
body, input, textarea, select, button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}
body {
	padding-top: 8%;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: normal;
}

b {
	font-weight: 400;
}

.black {
	background: #212121;
}
.grey {
	background: #eeeeee;
}
.grey h1 {
	color: #212121;
}
h1 {
	color: #212121;
}
.logo {
	margin-bottom: 35px;
}
span a {
	color: #7acb2c;
}
.links {
	margin: 40px 0;
	list-style: none;
	padding: 0;
}
a {
	color: #7acb2c;
}
a:hover {
	color: #41ddda;
}
.links li {
	display: inline;
	margin: 0 10px;
}
p {
	color: #212121;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	margin: 25px 0;
	background: #7acb2c;
	text-shadow: 0 1px 0 #222;
}
.btn:hover {
	background: #41ddda;
}
.upload-form {
	padding: 40px 40px;
	background: #FFF;
	border-radius: 10px;
	margin-top: 30px;
}
.help-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.text-block {
	padding: 20px 16%;
}
.text-block h1,
h2,
h3,
.text-block ul,
p {
	color: #212121 !important;
}

h1 {
	letter-spacing: -0.024em;
	line-height: normal;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	line-height: 1.24em;
}

h3 {
	font-size: 30px;
	line-height: 1.05556;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	line-height: 1.24em;
}

/*middle*/
@media only screen and (max-width: 1068px){
	.text-block {
		padding: 20px 12%;
	}
	body {
		padding-top: 6%;
	}
	h3 {
		font-size: 26px;
	}

}

/*small*/
@media only screen and (max-width: 735px){
	.text-block {
		padding: 20px 6%;
	}
	body {
		padding-top: 4%;
		font-size: 14px;
		font-weight: 200;
	}
	h3 {
		font-size: 20px;
	}
}

/* under iphone (max = 5.5inch iphone6 plus) */
@media only screen and (max-width: 414px){
	.text-block {
		padding: 20px 2.5%;
	}
}

/* vimeo player resizer*/
.videoWrapper {
	position: relative;
	padding-bottom: 177.89473684210526%; /* 380:676 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
