body {
	padding-top: 8%;
}
.black {
	background: #212121;
}
.grey {
	background: #eeeeee;
}
.grey h1 {
	color: #212121;
}
h1 {
	color: #212121;
}
.logo {
	margin-bottom: 35px;
}
span a {
	color: #7acb2c;
}
.links {
	margin: 40px 0;
	list-style: none;
	padding: 0;
}
a {
	color: #bbbbbb;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
.links li {
	display: inline;
	margin: 0 10px;
}
p {
	color: #212121;
}
.text-block h1,
h2,
h3,
.text-block ul,
p {
	color: #eeeeee !important;
}

.title {
	font-size: 28px;
	font-weight: 100;
	margin-left: auto;
	margin-right: auto;
	line-height: normal;
}

.subtitle {
	padding-top: 16px;
	font-size: 25px;
	font-weight: 200;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	line-height: normal;
}

.title-h1 {
	font-size: 60px;
}

.title-h2 {
	font-size: 48px;
}

.title-h3 {
	font-size: 30px;
	line-height: normal;
}

.title-img{
	display: block;
	padding-bottom: 4%;
	margin-left: auto;
	margin-right: auto;
}
.subtitle-img{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*middle*/
@media only screen and (max-width: 1068px){


}
/*small*/
@media only screen and (max-width: 735px){
	.subtitle {
		padding-top: 18px;
		font-size: 22px;
	}
	.title-h1 {
		font-size: 50px;
	}
	.title-h2 {
		font-size: 40px;
	}
	.title-h3 {
		font-size: 24px;
	}
	.title-img{
		padding-bottom: 2%;
	}
	.subtitle-img{
		padding-top: 3%;
		padding-bottom: 1%;
	}
}
