<div class="section section-features">
    <div class="container">
        <div class="row">
            <div class="{% if include.media %}col-md-5 {% endif %}feature-description">
                <h4 class="feature-title">{{ include.title }}</h4>
                <p>{{ include.desc }}</p>
            </div>
            <div class="col-md-6 col-md-offset-1">
                {% assign carousel_id = 'description-carousel' | append:include.id %}
                {% assign mediasize = include.media | size %}
                {% if mediasize > 0 %}
                <div id="{{ carousel_id }}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for m in include.media %}
                        <div class="item{% if forloop.index0 == 0 %} active{% endif %}">
                            {% assign k = m[0] %}
                            {% assign v = m[1] %}
                            {% if k == 'vimeo' %}
                                {% include video.html vimeo_id=v %}
                            {% elsif k contains 'image' %}
                                <center><img src="{{ v }}" class="feature_image"/></center>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% if mediasize > 1 %}
                    <ol class="carousel-indicators">
                        {% for m in include.media %}
                        <li data-target="#{{ carousel_id }}" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.index0 == 0 %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
