<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{{ site.page_title_head }}{{ pagedata.page_title_sub }}</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<meta name=description content="{{ site.marketing_main_desc }} {{ site.marketing_sub_desc }}">
<meta name=keywords content="{{ site.marketing_keywords }}">
{% if page.lang != site.baselang %}
<meta name="google" content="notranslate" />
{% endif %}
