<!-- Twitter Card data -->
    <!-- <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Paper Kit by Creative Tim">
    <meta name="twitter:description" content="Paper Kit is a free Bootstrap UI kit. We created it having paper and drawings in mind. We tried to focus on pale colors, beatiful typography and thoughtful drawings.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="http://s3.amazonaws.com/creativetim_bucket/products/33/original/opt_pk_thumbnail.jpg"> -->
<!--
    <meta name="twitter:data1" content="Bootstrap UI Kit">
    <meta name="twitter:label1" content="Product Type">
    <meta name="twitter:data2" content="Free">
    <meta name="twitter:label2" content="Price">
-->

    <!-- Open Graph data -->
    <!-- <meta property="og:title" content="Paper Kit by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://demos.creative-tim.com/paper-kit" />
    <meta property="og:image" content="http://s3.amazonaws.com/creativetim_bucket/products/33/original/opt_pk_thumbnail.jpg"/>
    <meta property="og:description" content="Paper Kit is a free Bootstrap UI kit. We created it having paper and drawings in mind. We tried to focus on pale colors, beatiful typography and thoughtful drawings." />
    <meta property="og:site_name" content="Creative Tim" /> -->
