<div class="section section section-clients">
    <div class="container text-center">
        <h4 class="header-text">{{ page.press_title }}</h4>
        <div class="logos">
            <ul class="list-unstyled">
                <li><a href="http://applion.jp/iphone/app/1051585862/"><img src="assets/images/press/applion.png"></a></li>
                <li><a href="http://www.digitaltrends.com/mobile/best-apps-bumble-badland2/"><img width="120px" height="139px" src="assets/images/press/dt.png"></a></li>
            </ul>
        </div>
        <p style="font-size:14px;">
            {{ page.press_desc }}
        </p>
    </div>
</div>
