<div class="section section section-clients">
    <div class="container text-center">
        <h4 class="feature-title">{{ pagedata.press_title }}</h4>
        <div class="press-content">
            <ul class="list-unstyled">
                <li>
                    <a href="https://tumblr.com/app/elieapp">
                        <img style="max-width: 460px; width: 100%" src="/press/tumblr/elie_x_tumblr.png?2">
                    </a>
                </li>
                <!-- <li>
                    <a href="//applion.jp/iphone/app/1051585862/">
                        <img src="assets/images/press/applion.png">
                    </a>
                </li> 
                <li>
                    <a href="//finance.yahoo.com/news/5-best-apps-download-week-161516112.html">
                        <img width="230px" src="assets/images/press/yahoo.png">
                    </a>
                </li>
                -->

            </ul>
        </div>
        <p>
            {{ pagedata.press_desc }}
        </p>
    </div>
</div>
