<div class="section section section-clients">
    <div class="container text-center">
        <h4 class="header-text">{{ page.press_title }}</h4>
        <div class="logos">
            <ul class="list-unstyled">
                <li>
                    <a href="https://raw.githubusercontent.com/iamelie/elie-presskit/master/featured_appstore/JP/top.jpg">
                        <img width="120px" src="assets/images/press/featured_appstore_jp.png">
                    </a>
                </li>
                <li>
                    <a href="http://applion.jp/iphone/app/1051585862/">
                        <img src="assets/images/press/applion.png">
                    </a>
                </li>
                <li>
                    <a href="http://finance.yahoo.com/news/5-best-apps-download-week-161516112.html">
                        <img width="230px" src="assets/images/press/yahoo.png">
                    </a>
                </li>


            </ul>
        </div>
        <p style="font-size:14px;">
            {{ page.press_desc }}
        </p>
    </div>
</div>
