<script type="text/javascript">
//<![CDATA[
var langs = {{ site.langs | jsonify }};
function getParameterByName(name) {
    var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
}
function redirect(url) {
    var ua        = navigator.userAgent.toLowerCase(),
        isIE      = ua.indexOf('msie') !== -1,
        version   = parseInt(ua.substr(4, 2), 10);
    // Internet Explorer 8 and lower
    if (isIE && version < 9) {
        var link = document.createElement('a');
        link.href = url;
        document.body.appendChild(link);
        link.click();
    }
    // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like IE8 & lower does)
    else {
        window.location.href = url;
    }
}
function langMatcher(format_lang, format_regions){
    // /^fr[-_](FR|CA)$/i or /^fr.*$/i
    return new RegExp(['^', format_lang, format_regions ? '[-_]('+format_regions.join('|')+')' : '.*', '$'].join(''), 'i');
}
function isRootPath(){
    return window.location.pathname == '/';
}
function subpathname(){
    return window.location.pathname && window.location.pathname.split('/')[1];
}
function redirectIfMatch(){
    var language = window.navigator.userLanguage || window.navigator.language;
    var subpath = subpathname();
    var isrootpath = isRootPath();

    for (var lang in langs){
        var lobj = langs[lang];
        var l = lang.split('-');
        var matcher = langMatcher(l[0], l[1] && lobj.countries.concat(l[1])); //zh-Hans -> langMatcher(zh, ['Hans','CN','SG']);
        var matchedViaPath = subpath && subpath.replace(/^\s+|\s+$/g, '').match(matcher);
        var matchedViaUserLang = isrootpath && !subpath && language.match(matcher);
        if(matchedViaPath || matchedViaUserLang){
            //skip check same path
            if(lobj.path == window.location.pathname){
                return false;
            }
            redirect(lobj.path);
            return true;
        }
    }

    if(!isrootpath){
        redirect('/');
    }

    return false;
}

//automatic redirect
try{
    if(!getParameterByName('lang')){
        redirectIfMatch();
    }
}finally{}
//]]>
</script>
