<div class="section section-title">
    <div class= "container">
        <div class="row">
            <div class="col-md-5 col-md-push-6">
                <div class="description">
                    <h4 class="text-center description_title"><img align="midde" class="icon_svg_top" src="assets/images/icon.png" width="160" height="160"></object></h4>
                    <h2 class="text-center">{{ include.hello }}</h2>
                    <h2 class="text-center">{{ include.imelie }}</h2>
                    <br>
                    <p>{{ include.desc }}</p>
                </div>
                <!-- http://www.appurl.io/ -->
                <a href="https://itunes.apple.com/app/{{ site.appstore_id }}">
                {% if page.lang == 'en' %}
                    <div class="buttons text-center button-appstore">
                        <img class="button-appstore-image" src="assets/images/badge169.png"/>
                    </div>
                {% else %}
                    <span class="buttons text-center button-appstore aapl aapl-{{ page.lang }}" style="font-size:50px;"></span>
                {% endif %}
                </a>
            </div>
            <div class="col-md-5 col-md-pull-5">
                <div class="parallax-image">
                    {% include video.html vimeo_id=include.vimeo_id %}
                </div>
            </div>
        </div>
    </div>
</div>
