<nav class="navbar navbar-transparent navbar-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <div class="logo-container">
                <img align="midde" src="assets/images/logo.png" width="60" height="16">
                <div class="logo-version">1.0</div>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="example">
            <ul class="nav navbar-nav navbar-right">
                <li class="text-center">
                    <div class="dropdown dropdown-locale">
                        <button class="btn btn-primary dropdown-toggle locale_selector_button" type="button" data-toggle="dropdown">
                            {{ site.langs[include.current_lang].label }}
                            {% for c in site.langs[page.lang].countries %}
                                <span class="flag-icon flag-icon-squared flag-icon-{{ c | downcase }}"></span>
                            {% endfor %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu navbar-right">
                            {% for lc in site.langs %}
                                {% assign lang = lc[0] %}
                                {% if lang != page.lang %}
                                    <li>
                                        <a href="{{ lc[1].path }}">
                                            {{ site.langs[lang].label }}
                                            {% for c in site.langs[lang].countries %}
                                                <span class="circle_round flag-icon flag-icon-squared flag-icon-{{ c | downcase }} offset3"></span>
                                            {% endfor %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <!-- <li role="presentation" class="divider"></li> -->
                        </ul>
                    </div>
                <li>
<!--
                <li>
                    <a href="/facebook">
                    <i class="fa fa-facebook-square"></i>
                    Like
                    </a>
                </li>
                <li>
                    <a href="/twitter">
                    <i class="fa fa-twitter"></i>
                    Tweet
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class="fa fa-vimeo-square"></i>
                    Pin
                    </a>
                </li>
                 -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
