@media (min-width: 992px) {
	body{
    	background: url('/assets/images/topbg.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
