<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.page_title_head }} Developer Note</title>
    {% include head_init.html %}
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/styles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="text-center">
    <div class="container-fluid front-page">
        <h1>Developer Notes</h1>
        {% assign posts = site.posts %}
        <p style="color:#A0A0A0">Last Updated: {{ posts[0].date | date_to_string }}</p>
        <div class="text-block text-left">
            <h2>What's New</h2>
            {% for post in posts %}
            <!-- post.slug == {Release}-{version}-{lang} -->
                {% assign slugs = post.title | split: ' ' %}
                {{ slugs | jsonify }}
                {% if (slugs | size == 3) and (slugs[0] == "Release") and (slugs[2] == page.lang) %}
                <h3 style="margin-top:40px; font-weight: inherit;">Version {{ slugs[1] }}</h3>
                <h5>{{ post.date | date: '%B %d, %Y' }}</h5>
                <p role="article">
                    {{ post.content }}
                </p>
                {% endif %}
            {% endfor %}
        </div>
    <div>
</body>
</html>
